$new_palette: (
    a: #AD8500,
    b: #FFD13B,
    c: #FAC000,
    d: #0017AD,
    e: #8292FA
);

// Body
$body-bg: #fffdee;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue: #0017AD;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #96221e;
$orange: #f6993f;
$yellow: #f1ea0c;
$green: #157e41;
$teal: #4dc0b5;
$cyan: #cfe5e3;

$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-900 !default;

// Spacing
$headings-margin-bottom: 1rem;

// Cards
$card-cap-bg: $gray-300;

// Inputs
$input-bg: white;

// Navbar
$navbar-dark-color: rgba($white, .75);
$navbar-dark-hover-color: rgba($white, .95);
