// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

[x-cloak] { display: none !important; }

ul, ol {
    margin-bottom: 0;
}

code {
    color: #00661e;
}

pre {
    font-size: inherit;
}

.form-group {
    @extend .mb-2;
}

.navbar-expand-md .navbar-collapse {
    justify-content: end;
}
